html {
  height: 100%;
}

body {
  margin: 0;
}

html,
body,
#root {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

:root {
  --fg: #000;
  --bg: #fff;
  --bg-8: rgba(0, 0, 0, 0.08);
  --bg-16: rgba(0, 0, 0, 0.16);
  --bg-32: rgba(0, 0, 0, 0.32);
  --c-primary: #1e8038;
  --c-secondary: #1a73e8;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root :is([data-reach-menu-list], [data-reach-menu-items]) {
  padding: 0.5rem 0;
}
