#calculator {
  display: grid;
  grid-gap: 0.5rem 1rem;
  grid-template-areas:
    "l o r"
    "result result result"
    ". . reset";
  grid-template-columns: 5rem 2rem 5rem;
}

#calculator .left {
  grid-area: l;
}

#calculator .right {
  grid-area: r;
}

#calculator .operation {
  grid-area: o;
}

#calculator .result {
  grid-area: result;
}

#calculator .reset {
  grid-area: reset;
}
