.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: var(--bg-8);
  border-bottom: 1px solid var(--bg-32);
}
